<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="userInterface.css">
  <title>SignUp</title>
</head>

<body>
  <div class="topnav">
    <a href="/api/v1/adminSignUp" class="active">Create Admin Account</a>
    <a href="/api/v1/adminActivateClient">Deactivate/Activate Client</a>
    <a href="/api/v1/adminCreditClient">Credit/Debit Client</a>

    <a href="/api/v1/adminAllAccounts">All Clients</a>
    <a href="/api/v1/adminLogin">Admin Login</a>
    <a href="/api/v1/userLogIn">Customer Login</a>
  </div>



  <h1>Welcome to <b><span>Banka</span></b></h1>
  <h3>Dear Admin...</h3>

  <h2>View All users</h2>
  <h2>View single user</h2>

  <form action='/api/v1/adminAllAccounts/create' method="POST">
    
  <button type="submit">Create User Account</button>
  </form>

  <form action="/api/v1/adminAllAccounts/all" method="POST">
    <button type="submit">Get All Account</button>
  </form>

  <form action="/api/v1/adminAllAccounts/:id" method="POST">
    <button type="submit">Get this User Account</button>
  </form>

  <form action="/api/v1/adminAllAccounts/update/:id" method="POST">
    <button type="submit">Update User Account</button>
  </form>

  <form action="/api/v1/adminAllAccounts/delete/:id" method="POST">
    <button type="submit">Delete User Account</button>
  </form>

  
  

 <footer>
    &copy; ZinnyCode 2020
  </footer>

</body>

</html>