<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="userInterface.css">
  <title>SignUp</title>
</head>

<body>
  <div class="topnav">
    <a href="/api/v1/adminSignUp" class="active">Create Admin Account</a>
    <a href="/api/v1/adminActivateClient">Deactivate/Activate Client</a>
    <a href="/api/v1/adminCreditClient">Credit/Debit Client</a>
    <a href="/api/v1/adminAllAccounts">All Clients</a>
    <a href="/api/v1/adminLogin">Admin Login</a>
    <a href="/api/v1/userLogIn">Customer Login</a>
  </div>

  <h1>Welcome to <b><span>Banka</span></b></h1>
  <h3>Dear Admin...</h3>

  <h2>Credit User</h2>
  <h2>Debit User</h2>

  <form action="">
    Full name:<br>
    <input type="text" name="fullName" id="fullName" required><br>
  
    NUBAN:<br>
    <input type="number" name="nuban" id="nuban">
    <br>
    <br />
    BALANCE:<br>
    <input type="number" name="Balance" id="Balance">
    <br>
    <br />
    <input type="submit" value="Credit" id="credit"> <input type="submit" value="Debit" id="debit">
  </form>

   <footer>
    &copy; ZinnyCode 2020
  </footer>

</body>
  </html>
