<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create Account</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="userInterface.css">
  <title>Create Account</title>
</head>

<body>
  <header>
    <h1>Banka <span>App</span></h1>
 <div class="topnav">
   <a href="/api/v1/userAccountBal" class="active">My Account</a>
   <a href="/api/v1/userAccTransaction">Transaction History</a>
   <a href="/api/v1/createAccount">Create Account</a>
   <a href="/api/v1/adminLogin">Admin Login</a>
   <a href="/">Customer Login</a>
 </div>
  </header>


  <h1>Dear Esteemed Customer, Welcome to <b><span>Banka</span></b></h1>

  <div class="intro">
    <p>We are dedicated to serving you better. <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, nemo reiciendis ut magni harum eum quos esse omnis quam dolores perferendis modi qui neque hic!<br> . Open an account with us today and enjouy seamless services from <span>Banka</span></p>
  </div>

  <h2>Create Your Account</h2>

  <form id="accountForm" method="POST" class="accountForm" action="/api/v1/createAccount">
    <h3>First Name:</h3>
    <input type="text" id="firstName" class="firstName" placeholder="First Name" required> <br />

    <h3>Last Name:</h3>
    <input type="text" id="lastName" class="lastName" placeholder="Last Name" required> <br />

    <h3>Email:</h3>
    <input type="email" id="email" class="email" placeholder="abc@xyz.com" required> <br />

    <h3>Phone Number:</h3>
    <input type="tel" id="phoneNumber" class="phoneNumber" required> <br />

    <h3>Address:</h3>
    <input type="text" id="address" class="address" required> <br />

    <h3>City:</h3>
    <input type="text" id="city" class="city" required> <br />
    <h3>Country:</h3>
    <input type="text" id="country" class="country" required> <br>

    <button type="submit">Submit</button>

  </form>
  
 <footer>
    &copy; ZinnyCode 2020
  </footer>

</body>

</html>