<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create Account</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="userInterface.css">
  <title>Create Account</title>
</head>

<body>
  <header>
    <h1>Banka <span>App</span></h1>
  <div class="topnav">
    <a href="/api/v1/userAccountBal/:id" class="active">My Account</a>
    <a href="/api/v1/userAccTransaction">Transaction History</a>
    <a href="/api/v1/createAccount">Create Account</a>
    <a href="/api/v1/adminLogin">Admin Login</a>
    <a href="/api/v1/userLogin">Customer Login</a>
  </div>
  </header>


  <h1>Dear Esteemed Customer, Welcome to <b><span>Banka</span></b></h1>

  <div class="intro">
    <p>We are dedicated to serving you better. <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, nemo reiciendis ut magni harum eum quos esse omnis quam dolores perferendis modi qui neque hic!<br> . Open an account with us today and enjouy seamless services from <span>Banka</span></p>
  </div>

  <h2>Create Your Account</h2>

  <form id="accountForm" method="POST" class="accountForm" action="/api/v1/createAccount">
    <h3>Account Number:</h3>
    <input type="text" id="accountNumber" name="accountNumber" placeholder="Account Number" required> <br />

    <h3>Created On:</h3>
    <input type="datetime" id="createdOn" name="createdOn" placeholder="Date" required> <br />

    <h3>Owner:</h3>
    <input type="text" id="owner" name="owner" placeholder="Owner" required> <br />

    <h3>Type:</h3>
    <select id="type" name="type">
      <option value="savings" name="savings">Savings</option>
      <option value="current" name="current">Current</option>
    </select> <br />
 
    <h3>Status:</h3>
    <select id="status" name="status">
      <option value="active" name="active">Active</option>
      <option value="dormant" name="dormant">Dormant</option>
    </select> <br />

    <h3>Balance:</h3>
    <input type="number" id="balance" class="balance" required> <br />

    <button type="submit">Submit</button>

  </form>
  
 <footer>
    &copy; ZinnyCode 2020
  </footer>

</body>

</html>